fastapi==0.115.0
faster-whisper>=1.2.1
av<16
uvicorn[standard]==0.32.0
kokoro>=0.9.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
soundfile>=0.13.1
torch>=2.4.0
pydantic==2.9.0
